#modal-window__title
  %h3 Sign up
#modal-window__form
  = form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "Sign up", class: "btn-primary"
