#modal-field-wrapper
  - unless user_signed_in?
    %h1.title ModalWindow
  - else
    %h1.title Hello World!

  .modal-action
    = link_to "Signup Now!", "#", class: "modal-action__btn"
  - if user_signed_in?
    %br
    %br
    %p
      ログイン中: ID #{current_user.email}
    = link_to "Logout", destroy_user_session_path, method: :delete, style: "color: red; font-weight: bold;", data: {confirm: "ログアウトしますか？" }

#modal-wrapper
  #modal
    #modal-window
      #modal-window__title
        %h3 Sign up
      #modal-window__form
        = form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f|
          -# = render "devise/shared/error_messages", resource: resource
          .errors
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password"
          .field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
          .actions
            = f.submit "Sign up", class: "btn-primary"
        -# = render "devise/shared/links"
            