#modal-field-wrapper
  - unless user_signed_in?
    %h1.title ModalWindow
    .modal-action
      = link_to "Signup Now!", "#", class: "modal-action__btn link-to signup"
    %br/
    = link_to "Login", "#", class: "link-to login"
  - else
    %h1.title Login successful!
    .signed_in-field
      %p
        ログイン中: ID #{current_user.email}
      = link_to "Logout", destroy_user_session_path, method: :delete, style: "color: red; font-weight: bold;", data: {confirm: "ログアウトしますか？" }


#modal-wrapper
  #modal
    #modal-window
      = render "shared/form"